body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(../Multimedia/FondoExamn.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}
.cabecera{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:url(../Multimedia/epica2.png ) no-repeat;
    padding: 80px;
    text-align: center;
    background-size: cover;
}
/*navegacion*/
nav >a{
    color:black;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
.cabecera nav{
    position: absolute;
    top: 17%;
    left: 40%;
    transform: translate(0%,100%); 
}
/*caja*/
.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 60%;
    right: 0.5px;
    transform: translate(-50%,-50%);    
    background: #dfe6e9;
    text-align: center;
}
.box h1{
 color: black;
 text-transform: uppercase;
 font-weight: 600;

}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #009688;
    padding:  14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 20px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 230px;
    border-color:black;
}

.box input[type="button"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2196F3;
    padding:  8px 1px;
    width: 100px;
    outline: none;
    color:#2196F3;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="button"]:hover{
    background: #2196F3;
    color: white;
}
.box div{
    font-size: 12px;
}
form >a{
    color:black;
    text-decoration: none;
    margin-right: 10px;
}
form > a:hover{
    text-decoration: underline;
}
.cabecera nav{
    text-align: right ;
    transform: translate(0%,100%); 
}
.box h0{
    font-weight: 10;
}
.box a{
    font-size: 12px;
}
.box2{
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 60%;
    left: 10px;
    transform: translate(15%,-50%);
    text-align: left;
}
.box2 h1{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    padding: 70px 50px;
    background: rgba(255,255,255,.4)
}

