body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(../Multimedia/FondoExamn.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}
.cabecera{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:url(../Multimedia/epica2.png ) no-repeat;
    padding: 2px;
    text-align: center;
    background-size: cover;
    
}
/*navegacion*/
.retornar{
    border: 0;
    display: block;
    text-align: center;
    border: 1px solid #2196F3;
    padding:  8px 1px;
    width: 100px;
    outline: none;
    background-color: black;
    color:#2196F3;
    transition: 0.25s;
    cursor: pointer;

}
.retornar:hover{
    background: white;
    color: black;
    
}

/*caja*/
.contenedor{
    display: inline-block;
    margin: 5% 25%;
    position: relative;
    background: rgba(8, 158, 228, 0.7);
}
textarea{
    width: 90%;
    height: 60px;
}
table{
    margin: 2% 3%;
}
.solicitud{
    text-align: center;
}
.selector{
    width: 100%;
    height: 23px;
}
.contenido{
    background: rgba(255,255,255,.7);
}
.boton{
    height: 30px ;
    width: 100px;
}