<ion-header>
  <ion-toolbar>
    <ion-title>Epica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button shape="round" (click)="nuevo()">Nuevo</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">C.I.</ion-label>
          <ion-input type="number" [(ngModel)]="soliClient.ci"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="soliClient.nombre"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label position="floating">Requerimientos(100$ por requerimiento)</ion-label>
          <ion-textarea [(ngModel)]="soliClient.requerimientos"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    
  </ion-grid>
 

  <ion-button shape="round" (click)="guardar()">Guardar</ion-button>
  <ion-button shape="round" (click)="consultar()">Consultar</ion-button>
  <ion-button shape="round" (click)="eliminar()">Eliminar</ion-button>

  

  <ion-grid>
    <ion-row *ngFor="let item of soliClients">
      <ion-col size="2">
        <ion-item color="primary" (click)= "parametros(item.ci)">
          <ion-label position="fixed">{{item.ci}}</ion-label>
        </ion-item>
      </ion-col> 
      <ion-col size="3">
        <ion-item >
          <ion-label position="fixed">{{item.nombre}}</ion-label>
        </ion-item>
      </ion-col> 
      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">{{item.tiempo}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item >
          <ion-label position="fixed" >{{item.precio}} $</ion-label>
        </ion-item>
      </ion-col> 
      <ion-col size="3">
        <ion-item>
          <ion-label position="fixed">{{item.estado}}</ion-label>
        </ion-item>
      </ion-col> 
    </ion-row>  
  </ion-grid>

</ion-content>